<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.babafiras.sleepquality">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Alarm" />

        <activity
            android:name=".Menu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Instructions"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".SetAlarm"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".StartGraph"
            android:parentActivityName=".SetAlarm" />
        <activity
            android:name=".Graph"
            android:parentActivityName=".SetAlarm" />
        <activity android:name=".testGraph"
            android:parentActivityName=".Menu"></activity>
    </application>

</manifest>